{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://codecommit.amazonaws.com/"
        },
        {
            "url": "http://codecommit.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>AWS CodeCommit</fullname> <p>This is the <i>AWS CodeCommit API Reference</i>. This reference provides descriptions of the operations and data types for AWS CodeCommit API along with usage examples.</p> <p>You can use the AWS CodeCommit API to work with the following objects:</p> <p>Repositories, by calling the following:</p> <ul> <li> <p> <a>BatchGetRepositories</a>, which returns information about one or more repositories associated with your AWS account.</p> </li> <li> <p> <a>CreateRepository</a>, which creates an AWS CodeCommit repository.</p> </li> <li> <p> <a>DeleteRepository</a>, which deletes an AWS CodeCommit repository.</p> </li> <li> <p> <a>GetRepository</a>, which returns information about a specified repository.</p> </li> <li> <p> <a>ListRepositories</a>, which lists all AWS CodeCommit repositories associated with your AWS account.</p> </li> <li> <p> <a>UpdateRepositoryDescription</a>, which sets or updates the description of the repository.</p> </li> <li> <p> <a>UpdateRepositoryName</a>, which changes the name of the repository. If you change the name of a repository, no other users of that repository will be able to access it until you send them the new HTTPS or SSH URL to use.</p> </li> </ul> <p>Branches, by calling the following:</p> <ul> <li> <p> <a>CreateBranch</a>, which creates a new branch in a specified repository.</p> </li> <li> <p> <a>DeleteBranch</a>, which deletes the specified branch in a repository unless it is the default branch.</p> </li> <li> <p> <a>GetBranch</a>, which returns information about a specified branch.</p> </li> <li> <p> <a>ListBranches</a>, which lists all branches for a specified repository.</p> </li> <li> <p> <a>UpdateDefaultBranch</a>, which changes the default branch for a repository.</p> </li> </ul> <p>Files, by calling the following:</p> <ul> <li> <p> <a>DeleteFile</a>, which deletes the content of a specified file from a specified branch.</p> </li> <li> <p> <a>GetFile</a>, which returns the base-64 encoded content of a specified file.</p> </li> <li> <p> <a>GetFolder</a>, which returns the contents of a specified folder or directory.</p> </li> <li> <p> <a>PutFile</a>, which adds or modifies a file in a specified repository and branch.</p> </li> </ul> <p>Information about committed code in a repository, by calling the following:</p> <ul> <li> <p> <a>CreateCommit</a>, which creates a commit for changes to a repository.</p> </li> <li> <p> <a>GetBlob</a>, which returns the base-64 encoded content of an individual Git blob object within a repository.</p> </li> <li> <p> <a>GetCommit</a>, which returns information about a commit, including commit messages and author and committer information.</p> </li> <li> <p> <a>GetDifferences</a>, which returns information about the differences in a valid commit specifier (such as a branch, tag, HEAD, commit ID or other fully qualified reference).</p> </li> </ul> <p>Pull requests, by calling the following:</p> <ul> <li> <p> <a>CreatePullRequest</a>, which creates a pull request in a specified repository.</p> </li> <li> <p> <a>DescribePullRequestEvents</a>, which returns information about one or more pull request events.</p> </li> <li> <p> <a>GetCommentsForPullRequest</a>, which returns information about comments on a specified pull request.</p> </li> <li> <p> <a>GetMergeConflicts</a>, which returns information about merge conflicts between the source and destination branch in a pull request.</p> </li> <li> <p> <a>GetPullRequest</a>, which returns information about a specified pull request.</p> </li> <li> <p> <a>ListPullRequests</a>, which lists all pull requests for a repository.</p> </li> <li> <p> <a>MergePullRequestByFastForward</a>, which merges the source destination branch of a pull request into the specified destination branch for that pull request using the fast-forward merge option.</p> </li> <li> <p> <a>PostCommentForPullRequest</a>, which posts a comment to a pull request at the specified line, file, or request.</p> </li> <li> <p> <a>UpdatePullRequestDescription</a>, which updates the description of a pull request.</p> </li> <li> <p> <a>UpdatePullRequestStatus</a>, which updates the status of a pull request.</p> </li> <li> <p> <a>UpdatePullRequestTitle</a>, which updates the title of a pull request.</p> </li> </ul> <p>Information about comments in a repository, by calling the following:</p> <ul> <li> <p> <a>DeleteCommentContent</a>, which deletes the content of a comment on a commit in a repository.</p> </li> <li> <p> <a>GetComment</a>, which returns information about a comment on a commit.</p> </li> <li> <p> <a>GetCommentsForComparedCommit</a>, which returns information about comments on the comparison between two commit specifiers in a repository.</p> </li> <li> <p> <a>PostCommentForComparedCommit</a>, which creates a comment on the comparison between two commit specifiers in a repository.</p> </li> <li> <p> <a>PostCommentReply</a>, which creates a reply to a comment.</p> </li> <li> <p> <a>UpdateComment</a>, which updates the content of a comment on a commit in a repository.</p> </li> </ul> <p>Triggers, by calling the following:</p> <ul> <li> <p> <a>GetRepositoryTriggers</a>, which returns information about triggers configured for a repository.</p> </li> <li> <p> <a>PutRepositoryTriggers</a>, which replaces all triggers for a repository and can be used to create or delete triggers.</p> </li> <li> <p> <a>TestRepositoryTriggers</a>, which tests the functionality of a repository trigger by sending data to the trigger target.</p> </li> </ul> <p>For information about how to use AWS CodeCommit, see the <a href=\"http://docs.aws.amazon.com/codecommit/latest/userguide/welcome.html\">AWS CodeCommit User Guide</a>.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS CodeCommit",
        "version": "2015-04-13",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codecommit-2015-04-13.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "codecommit"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/codecommit/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Returns information about one or more repositories.</p> <note> <p>The description field for a repository accepts all HTML characters and all valid Unicode characters. Applications that do not HTML-encode the description and display it in a web page could expose users to potentially malicious code. Make sure that you HTML-encode the description field in any application that uses this API to display the repository description on a web page.</p> </note>",
                "operationId": "BatchGetRepositories",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents the output of a batch get repositories operation.",
                                    "properties": {
                                        "repositories": {
                                            "description": "A list of repositories returned by the batch get repositories operation.",
                                            "items": {
                                                "description": "Information about a repository.",
                                                "properties": {
                                                    "Arn": {
                                                        "description": "The Amazon Resource Name (ARN) of the repository.",
                                                        "type": "string"
                                                    },
                                                    "accountId": {
                                                        "description": "The ID of the AWS account associated with the repository.",
                                                        "type": "string"
                                                    },
                                                    "cloneUrlHttp": {
                                                        "description": "The URL to use for cloning the repository over HTTPS.",
                                                        "type": "string"
                                                    },
                                                    "cloneUrlSsh": {
                                                        "description": "The URL to use for cloning the repository over SSH.",
                                                        "type": "string"
                                                    },
                                                    "creationDate": {
                                                        "description": "The date and time the repository was created, in timestamp format.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "defaultBranch": {
                                                        "description": "The repository's default branch name.",
                                                        "maxLength": 256,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "lastModifiedDate": {
                                                        "description": "The date and time the repository was last modified, in timestamp format.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "repositoryDescription": {
                                                        "description": "A comment or description about the repository.",
                                                        "maxLength": 1000,
                                                        "type": "string"
                                                    },
                                                    "repositoryId": {
                                                        "description": "The ID of the repository.",
                                                        "type": "string"
                                                    },
                                                    "repositoryName": {
                                                        "description": "The repository's name.",
                                                        "maxLength": 100,
                                                        "minLength": 1,
                                                        "pattern": "[\\w\\.-]+",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "repositoriesNotFound": {
                                            "description": "Returns a list of repository names for which information could not be found.",
                                            "items": {
                                                "maxLength": 100,
                                                "minLength": 1,
                                                "pattern": "[\\w\\.-]+",
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "RepositoryNamesRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "MaximumRepositoryNamesExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRepositoryNameException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "EncryptionIntegrityChecksFailedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "EncryptionKeyAccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "EncryptionKeyDisabledException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "EncryptionKeyNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "EncryptionKeyUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the input of a batch get repositories operation.",
                                "properties": {
                                    "repositoryNames": {
                                        "description": "The names of the repositories to get information about.",
                                        "items": {
                                            "maxLength": 100,
                                            "minLength": 1,
                                            "pattern": "[\\w\\.-]+",
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "repositoryNames"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateBranch": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a new branch in a repository and points the branch to a commit.</p> <note> <p>Calling the create branch operation does not set a repository's default branch. To do this, call the update default branch operation.</p> </note>",
                "operationId": "CreateBranch",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "RepositoryNameRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidRepositoryNameException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "RepositoryDoesNotExistException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "BranchNameRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "BranchNameExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InvalidBranchNameException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "CommitIdRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "CommitDoesNotExistException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "488": {
                        "description": "InvalidCommitIdException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "489": {
                        "description": "EncryptionIntegrityChecksFailedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "490": {
                        "description": "EncryptionKeyAccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "491": {
                        "description": "EncryptionKeyDisabledException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "492": {
                        "description": "EncryptionKeyNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "493": {
                        "description": "EncryptionKeyUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the input of a create branch operation.",
                                "properties": {
                                    "branchName": {
                                        "description": "The name of the new branch to create.",
                                        "maxLength": 256,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "commitId": {
                                        "description": "The ID of the commit to point the new branch to.",
                                        "type": "string"
                                    },
                                    "repositoryName": {
                                        "description": "The name of the repository in which you want to create the new branch.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "[\\w\\.-]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "repositoryName",
                                    "branchName",
                                    "commitId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateCommit": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a commit for a repository on the tip of a specified branch.",
                "operationId": "CreateCommit",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "commitId": {
                                            "description": "The full commit ID of the commit that contains your committed file changes.",
                                            "type": "string"
                                        },
                                        "filesAdded": {
                                            "description": "The files added as part of the committed file changes.",
                                            "items": {
                                                "description": "A file that will be added, updated, or deleted as part of a commit.",
                                                "properties": {
                                                    "absolutePath": {
                                                        "description": "The full path to the file that will be added or updated, including the name of the file.",
                                                        "type": "string"
                                                    },
                                                    "blobId": {
                                                        "description": "The blob ID that contains the file information.",
                                                        "type": "string"
                                                    },
                                                    "fileMode": {
                                                        "description": "The extrapolated file mode permissions for the file. Valid values include EXECUTABLE and NORMAL.",
                                                        "enum": [
                                                            "EXECUTABLE",
                                                            "NORMAL",
                                                            "SYMLINK"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "filesDeleted": {
                                            "description": "The files deleted as part of the committed file changes.",
                                            "items": {
                                                "description": "A file that will be added, updated, or deleted as part of a commit.",
                                                "properties": {
                                                    "absolutePath": {
                                                        "description": "The full path to the file that will be added or updated, including the name of the file.",
                                                        "type": "string"
                                                    },
                                                    "blobId": {
                                                        "description": "The blob ID that contains the file information.",
                                                        "type": "string"
                                                    },
                                                    "fileMode": {
                                                        "description": "The extrapolated file mode permissions for the file. Valid values include EXECUTABLE and NORMAL.",
                                                        "enum": [
                                                            "EXECUTABLE",
                                                            "NORMAL",
                                                            "SYMLINK"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "filesUpdated": {
                                            "description": "The files updated as part of the commited file changes.",
                                            "items": {
                                                "description": "A file that will be added, updated, or deleted as part of a commit.",
                                                "properties": {
                                                    "absolutePath": {
                                                        "description": "The full path to the file that will be added or updated, including the name of the file.",
                                                        "type": "string"
                                                    },
                                                    "blobId": {
                                                        "description": "The blob ID that contains the file information.",
                                                        "type": "string"
                                                    },
                                                    "fileMode": {
                                                        "description": "The extrapolated file mode permissions for the file. Valid values include EXECUTABLE and NORMAL.",
                                                        "enum": [
                                                            "EXECUTABLE",
                                                            "NORMAL",
                                                            "SYMLINK"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "treeId": {
                                            "description": "The full SHA-1 pointer of the tree information for the commit that contains the commited file changes.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "RepositoryNameRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidRepositoryNameException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "RepositoryDoesNotExistException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ParentCommitIdRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidParentCommitIdException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ParentCommitDoesNotExistException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ParentCommitIdOutdatedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "BranchNameRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "488": {
                        "description": "InvalidBranchNameException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "489": {
                        "description": "BranchDoesNotExistException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "490": {
                        "description": "BranchNameIsTagNameException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "491": {
                        "description": "FileEntryRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "492": {
                        "description": "MaximumFileEntriesExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "493": {
                        "description": "PutFileEntryConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "494": {
                        "description": "SourceFileOrContentRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "495": {
                        "description": "FileContentAndSourceFileSpecifiedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "496": {
                        "description": "PathRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "497": {
                        "description": "InvalidPathException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "498": {
                        "description": "SamePathRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "499": {
                        "description": "FileDoesNotExistException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "500": {
                        "description": "FileContentSizeLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "501": {
                        "description": "FolderContentSizeLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "502": {
                        "description": "InvalidDeletionParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "503": {
                        "description": "RestrictedSourceFileException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "504": {
                        "description": "FileModeRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "505": {
                        "description": "InvalidFileModeException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "506": {
                        "description": "NameLengthExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "507": {
                        "description": "InvalidEmailException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "508": {
                        "description": "CommitMessageLengthExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "509": {
                        "description": "EncryptionIntegrityChecksFailedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "510": {
                        "description": "EncryptionKeyAccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "511": {
                        "description": "EncryptionKeyDisabledException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "512": {
                        "description": "EncryptionKeyNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "513": {
                        "description": "EncryptionKeyUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "514": {
                        "description": "NoChangeException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "515": {
                        "description": "FileNameConflictsWithDirectoryNameException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "516": {
                        "description": "DirectoryNameConflictsWithFileNameException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "517": {
                        "description": "FilePathConflictsWithSubmodulePathException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "authorName": {
                                        "description": "The name of the author who created the commit. This information will be used as both the author and committer for the commit.",
                                        "type": "string"
                                    },
                                    "branchName": {
                                        "description": "The name of the branch where you will create the commit.",
                                        "maxLength": 256,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "commitMessage": {
                                        "description": "The commit message you want to include as part of creating the commit. Commit messages are limited to 256 KB. If no message is specified, a default message will be used.",
                                        "type": "string"
                                    },
                                    "deleteFiles": {
                                        "description": "The files to delete in this commit. These files will still exist in prior commits.",
                                        "items": {
                                            "description": "A file that will be deleted as part of a commit.",
                                            "properties": {
                                                "filePath": {
                                                    "description": "The full path of the file that will be deleted, including the name of the file.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "filePath"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "email": {
                                        "description": "The email address of the person who created the commit.",
                                        "type": "string"
                                    },
                                    "keepEmptyFolders": {
                                        "description": "If the commit contains deletions, whether to keep a folder or folder structure if the changes leave the folders empty. If this is specified as true, a .gitkeep file will be created for empty folders.",
                                        "type": "boolean"
                                    },
                                    "parentCommitId": {
                                        "description": "The ID of the commit that is the parent of the commit you will create. If this is an empty repository, this is not required.",
                                        "type": "string"
                                    },
                                    "putFiles": {
                                        "description": "The files to add or update in this commit.",
                                        "items": {
                                            "description": "Information about a file that will be added or updated as part of a commit.",
                                            "properties": {
                                                "fileContent": {
                                                    "description": "The content of the file, if a source file is not specified.",
                                                    "maxLength": 6291456,
                                                    "type": "string"
                                                },
                                                "fileMode": {
                                                    "description": "The extrapolated file mode permissions for the file. Valid values include EXECUTABLE and NORMAL.",
                                                    "enum": [
                                                        "EXECUTABLE",
                                                        "NORMAL",
                                                        "SYMLINK"
                                                    ],
                                                    "type": "string"
                                                },
                                                "filePath": {
                                                    "description": "The full path to the file in the repository, including the name of the file.",
                                                    "type": "string"
                                                },
                                                "sourceFile": {
                                                    "description": "The name and full path of the file that contains the changes you want to make as part of the commit, if you are not providing the file content directly.",
                                                    "properties": {
                                                        "filePath": {
                                                            "description": "The full path to the file, including the name of the file.",
                                                            "type": "string"
                                                        },
                                                        "isMove": {
                                                            "description": "Whether to remove the source file from the parent commit.",
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "required": [
                                                        "filePath"
                                                    ],
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "filePath"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "repositoryName": {
                                        "description": "The name of the repository where you will create the commit.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "[\\w\\.-]+",
                                        "type": "string"
                                    },
                                    "setFileModes": {
                                        "description": "The file modes to update for files in this commit.",
                                        "items": {
                                            "description": "Information about the file mode changes.",
                                            "properties": {
                                                "fileMode": {
                                                    "description": "The file mode for the file.",
                                                    "enum": [
                                                        "EXECUTABLE",
                                                        "NORMAL",
                                                        "SYMLINK"
                                                    ],
                                                    "type": "string"
                                                },
                                                "filePath": {
                                                    "description": "The full path to the file, including the name of the file.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "filePath",
                                                "fileMode"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "repositoryName",
                                    "branchName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreatePullRequest": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a pull request in the specified repository.",
                "operationId": "CreatePullRequest",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "pullRequest": {
                                            "description": "Information about the newly created pull request.",
                                            "properties": {
                                                "authorArn": {
                                                    "description": "The Amazon Resource Name (ARN) of the user who created the pull request.",
                                                    "type": "string"
                                                },
                                                "clientRequestToken": {
                                                    "description": "A unique, client-generated idempotency token that when provided in a request, ensures the request cannot be repeated with a changed parameter. If a request is received with the same parameters and a token is included, the request will return information about the initial request that used that token.",
                                                    "type": "string"
                                                },
                                                "creationDate": {
                                                    "description": "The date and time the pull request was originally created, in timestamp format.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "description": "The user-defined description of the pull request. This description can be used to clarify what should be reviewed and other details of the request.",
                                                    "maxLength": 10240,
                                                    "type": "string"
                                                },
                                                "lastActivityDate": {
                                                    "description": "The day and time of the last user or system activity on the pull request, in timestamp format.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "pullRequestId": {
                                                    "description": "The system-generated ID of the pull request. ",
                                                    "type": "string"
                                                },
                                                "pullRequestStatus": {
                                                    "description": "The status of the pull request. Pull request status can only change from <code>OPEN</code> to <code>CLOSED</code>.",
                                                    "enum": [
                                                        "OPEN",
                                                        "CLOSED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "pullRequestTargets": {
                                                    "description": "The targets of the pull request, including the source branch and destination branch for the pull request.",
                                                    "items": {
                                                        "description": "Returns information about a pull request target.",
                                                        "properties": {
                                                            "destinationCommit": {
                                                                "description": "The full commit ID that is the tip of the destination branch. This is the commit where the pull request was or will be merged.",
                                                                "type": "string"
                                                            },
                                                            "destinationReference": {
                                                                "description": "The branch of the repository where the pull request changes will be merged into. Also known as the destination branch. ",
                                                                "type": "string"
                                                            },
                                                            "mergeBase": {
                                                                "description": "The commit ID of the most recent commit that the source branch and the destination branch have in common.",
                                                                "type": "string"
                                                            },
                                                            "mergeMetadata": {
                                                                "description": "Returns metadata about the state of the merge, including whether the merge has been made.",
                                                                "properties": {
                                                                    "isMerged": {
                                                                        "description": "A Boolean value indicating whether the merge has been made.",
                                                                        "type": "boolean"
                                                                    },
                                                                    "mergedBy": {
                                                                        "description": "The Amazon Resource Name (ARN) of the user who merged the branches.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "repositoryName": {
                                                                "description": "The name of the repository that contains the pull request source and destination branches.",
                                                                "maxLength": 100,
                                                                "minLength": 1,
                                                                "pattern": "[\\w\\.-]+",
                                                                "type": "string"
                                                            },
                                                            "sourceCommit": {
                                                                "description": "The full commit ID of the tip of the source branch used to create the pull request. If the pull request branch is updated by a push while the pull request is open, the commit ID will change to reflect the new tip of the branch.",
                                                                "type": "string"
                                                            },
                                                            "sourceReference": {
                                                                "description": "The branch of the repository that contains the changes for the pull request. Also known as the source branch.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "title": {
                                                    "description": "The user-defined title of the pull request. This title is displayed in the list of pull requests to other users of the repository.",
                                                    "maxLength": 150,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "pullRequest"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "RepositoryNameRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidRepositoryNameException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "RepositoryDoesNotExistException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "EncryptionIntegrityChecksFailedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "EncryptionKeyAccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "EncryptionKeyDisabledException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "EncryptionKeyNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "EncryptionKeyUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "488": {
                        "description": "ClientRequestTokenRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "489": {
                        "description": "InvalidClientRequestTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "490": {
                        "description": "IdempotencyParameterMismatchException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "491": {
                        "description": "ReferenceNameRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "492": {
                        "description": "InvalidReferenceNameException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "493": {
                        "description": "ReferenceDoesNotExistException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "494": {
                        "description": "ReferenceTypeNotSupportedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "495": {
                        "description": "TitleRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "496": {
                        "description": "InvalidTitleException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "497": {
                        "description": "InvalidDescriptionException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "498": {
                        "description": "TargetsRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "499": {
                        "description": "InvalidTargetsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "500": {
                        "description": "TargetRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "501": {
                        "description": "InvalidTargetException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "502": {
                        "description": "MultipleRepositoriesInPullRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "503": {
                        "description": "MaximumOpenPullRequestsExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "504": {
                        "description": "SourceAndDestinationAreSameException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "clientRequestToken": {
                                        "description": "<p>A unique, client-generated idempotency token that when provided in a request, ensures the request cannot be repeated with a changed parameter. If a request is received with the same parameters and a token is included, the request will return information about the initial request that used that token.</p> <note> <p>The AWS SDKs prepopulate client request tokens. If using an AWS SDK, you do not have to generate an idempotency token, as this will be done for you.</p> </note>",
                                        "type": "string"
                                    },
                                    "description": {
                                        "description": "A description of the pull request.",
                                        "maxLength": 10240,
                                        "type": "string"
                                    },
                                    "targets": {
                                        "description": "The targets for the pull request, including the source of the code to be reviewed (the source branch), and the destination where the creator of the pull request intends the code to be merged after the pull request is closed (the destination branch).",
                                        "items": {
                                            "description": "Returns information about a target for a pull request.",
                                            "properties": {
                                                "destinationReference": {
                                                    "description": "The branch of the repository where the pull request changes will be merged into. Also known as the destination branch.",
                                                    "type": "string"
                                                },
                                                "repositoryName": {
                                                    "description": "The name of the repository that contains the pull request.",
                                                    "maxLength": 100,
                                                    "minLength": 1,
                                                    "pattern": "[\\w\\.-]+",
                                                    "type": "string"
                                                },
                                                "sourceReference": {
                                                    "description": "The branch of the repository that contains the changes for the pull request. Also known as the source branch.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "repositoryName",
                                                "sourceReference"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "title": {
                                        "description": "The title of the pull request. This title will be used to identify the pull request to other users in the repository.",
                                        "maxLength": 150,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "title",
                                    "targets"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateRepository": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a new, empty repository.",
                "operationId": "CreateRepository",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents the output of a create repository operation.",
                                    "properties": {
                                        "repositoryMetadata": {
                                            "description": "Information about the newly created repository.",
                                            "properties": {
                                                "Arn": {
                                                    "description": "The Amazon Resource Name (ARN) of the repository.",
                                                    "type": "string"
                                                },
                                                "accountId": {
                                                    "description": "The ID of the AWS account associated with the repository.",
                                                    "type": "string"
                                                },
                                                "cloneUrlHttp": {
                                                    "description": "The URL to use for cloning the repository over HTTPS.",
                                                    "type": "string"
                                                },
                                                "cloneUrlSsh": {
                                                    "description": "The URL to use for cloning the repository over SSH.",
                                                    "type": "string"
                                                },
                                                "creationDate": {
                                                    "description": "The date and time the repository was created, in timestamp format.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "defaultBranch": {
                                                    "description": "The repository's default branch name.",
                                                    "maxLength": 256,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "lastModifiedDate": {
                                                    "description": "The date and time the repository was last modified, in timestamp format.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "repositoryDescription": {
                                                    "description": "A comment or description about the repository.",
                                                    "maxLength": 1000,
                                                    "type": "string"
                                                },
                                                "repositoryId": {
                                                    "description": "The ID of the repository.",
                                                    "type": "string"
                                                },
                                                "repositoryName": {
                                                    "description": "The repository's name.",
                                                    "maxLength": 100,
                                                    "minLength": 1,
                                                    "pattern": "[\\w\\.-]+",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "RepositoryNameExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "RepositoryNameRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRepositoryNameException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidRepositoryDescriptionException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "RepositoryLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "EncryptionIntegrityChecksFailedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "EncryptionKeyAccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "EncryptionKeyDisabledException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "488": {
                        "description": "EncryptionKeyNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "489": {
                        "description": "EncryptionKeyUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the input of a create repository operation.",
                                "properties": {
                                    "repositoryDescription": {
                                        "description": "<p>A comment or description about the new repository.</p> <note> <p>The description field for a repository accepts all HTML characters and all valid Unicode characters. Applications that do not HTML-encode the description and display it in a web page could expose users to potentially malicious code. Make sure that you HTML-encode the description field in any application that uses this API to display the repository description on a web page.</p> </note>",
                                        "maxLength": 1000,
                                        "type": "string"
                                    },
                                    "repositoryName": {
                                        "description": "<p>The name of the new repository to be created.</p> <note> <p>The repository name must be unique across the calling AWS account. In addition, repository names are limited to 100 alphanumeric, dash, and underscore characters, and cannot include certain characters. For a full description of the limits on repository names, see <a href=\"http://docs.aws.amazon.com/codecommit/latest/userguide/limits.html\">Limits</a> in the AWS CodeCommit User Guide. The suffix \".git\" is prohibited.</p> </note>",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "[\\w\\.-]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "repositoryName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteBranch": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
[...]
